/* 
    Document   : cssExamen
    Created on : 29/11/2013, 04:42:28 PM
    Author     : davis
    Description:
        Purpose of the stylesheet follows.
*/

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 1.42857;
    padding: 2px 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

